torch>=2.0.0
transformers
accelerate
mamba-ssm
gymnasium[mujoco]
imageio-ffmpeg
ffmpeg
imageio
moviepy

# install these for v3 and below environments
# mujoco-py
# cython<3 # mujoco-py doesn't like cython 3 and above
