torch>=2.0.0
transformers
accelerate
datasets
packaging
mamba-ssm
gymnasium[mujoco]
imageio-ffmpeg
ffmpeg
imageio
moviepy
jupyter

# install these for v3 and below environments
# mujoco-py
# cython<3 # mujoco-py doesn't like cython 3 and above
